<h3>To do</h3><br>
  <p>add cats button<br>
      move home, dashboard & logout to drop down avatar<br>
      list all cats<br>
  </p>

  <div data-controller="map"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @markers.to_json %>"
    style="width: 100%; height: 300px;">
    <p>map mostly coded, coming shortly</p>
  </div>
