.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding-top: 0px;
  margin-top: 0px;
}

.cat-card {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
}

.main-container {
 display: flex;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// map
// not very happy with it but tired now so leave it like this for the moment. feel free to edit it. this one affect the "im a map on the dashboard page"
.card-category {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-style: solid;
  border-color: blue;
}
