.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: black;
}

.clear-popup .mapboxgl-popup-content{
background-color: transparent;
border-color: transparent;
box-shadow: none;
}

.mapboxgl-marker {
  background-color: rgba($color: #f4f1f1, $alpha: 0.4)
}
