<div class="p-4 border border-primary">
  <br>
    <h3 class="border border-primary"> Users Cats & Bookings ❤️</h3>
  <br>
    <%= link_to "Add a Cat", new_cat_path, class: "btn btn-primary" %>



</div>
