<div class="p-4 border border-primary">
  <h3 class="border border-primary"> Here is all the cats on database :D ❤️</h3>

  <br>

  <div class="border border-primary">
    <div class="add-cat">
      <%= link_to "Add a Cat", new_cat_path, class: "btn btn-primary" %>
    </div>

  <%# <form action="/dashboard" method="get" class="my-3 border border-primary">
    <label for="cat">Look for cats around you:</label>
    <input type="text" name="cat" placeholder="city">
    <input type="submit">
  </form> %>
  <div class="main-container border border-primary pt-0 mt-0">
    <div class="cards">
      <% @cats.each do |cat| %>
        <div class="cat-card border border-primary my-0 bg-light">
          <%= image_tag cat.photo_url, alt:"cat pic", height: 100 %>
          <h5><%= link_to cat.name, cat_path(cat) %></h5>
          <p>Lives at <%= cat.address %></p>
        </div>
      <% end %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/cat1.jpg)">
      <p>I am a Map! if needed (maybe put this in javascript)</p>
    </div>

  </div>
</div>
